@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: blue;
}

@keyframes dropPin {
  0% {
    transform: translateY(-50vh); /* Start above the screen */
  }
  100% {
    transform: translateY(0); /* End at the normal position */
  }
}

.animate-dropPin {
  animation: dropPin 0.5s ease-out forwards;
}


/* index.css or global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer utilities {
  @keyframes scroll-left {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-50%); /* End at half the width (seamless loop) */
    }
  }

  .animate-scroll-left {
    animation: scroll-left 15s linear infinite;
  }
}


