*.psd filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
client/src/assets/videos/click.mov filter=lfs diff=lfs merge=lfs -text
client/src/assets/videos/clusterPdf.mov filter=lfs diff=lfs merge=lfs -text
